{% extends "base.html" %}

{% block title %}
	Insert Visitor
{% endblock title %}
{% block content %}
	<h3>Insert Visitor to Prisoner {{ prisoner }}</h3>
	<h4>Create a new visitor and add them to this prisoner:</h4>
	<form method="POST" class="post-form" action="insert" id="new-visitor-form">  
	    {% csrf_token %}  
	 	{{nv_form.as_p}}
	    <input type="submit" value="Submit" form="new-visitor-form">
	</form>  
	<br><br>
	<h4>OR choose from a visitor in the database:</h4>
	<form method="POST" class="post-form" action="insert" id="existing-visitor-form">  
	    {% csrf_token %}  
	    {{ev_form.as_p}}
	    <input type="submit" value="Submit" form="existing-visitor-form">
	</form>  
{% endblock content %}