{% extends "base.html" %}
{% block title %}
	Confirm Visitor Removal
{% endblock title %}

{% block form_style %}
	
{% endblock form_style %}

{% block content %}
	<h3>Confirm Visitor Removal</h3>
	<p>Are you sure you want to remove "{{ visitor }}" from {{ prisoner }}?</p>
	<form method="POST" class="post-form">  
	    {% csrf_token %}
	    <input type="submit" value="Yes">
	    <input type="submit" value="Cancel" onclick="window.location='{% url 'prison:visitors' prisoner.id %}' ; return false;" >
	</form>  

{% endblock content %}