{% extends "base.html" %}
{% block title %}
	Prisoner Records
{% endblock title %}	
{% block content %}
	<h3>List of Prisoners in Database:</h3>
		{% if prisoners %}
		<table>
		<tr>
			<th>Sno.</th>
			<th>Name</th>
			<th>Start Date</th>
			{% if is_datamanager %}
			<th>Edit</th>
			<th>Destroy</th>
			{% endif %}
			<th>Visitors</th>
		</tr>
		{% for prisoner in prisoners %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{prisoner.name}}</td>
			<td>{{prisoner.start_date}}</td>
			{% if is_datamanager %}
			<td>
				<a href="{% url 'prison:edit' prisoner.id %}">
					Edit
				</a>
			</td>
			<td>
				<a href="{% url 'prison:destroy' prisoner.id %}">
					Destroy
				</a>
			</td>
			{% endif %}
			<td>
				<a href="{% url 'prison:visitors' prisoner.id %}">
					Visitors
				</a>
			</td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>No prisoners currently.</p>
	{% endif %}
	<p><a href="{% url 'prison:home' %}">Back to homepage.</a></p>


{% endblock content %}