<head>
	<title>Visitors for Prisoner {{prisoner}}</title>
	<header style="border-style: none; position:fixed; top: 10px; right: 10px;">
		Logged in as {{ user }}. <a href="/accounts/logout">Logout here.</a>
	</header>
</head>
<body>
	{% if visitors %}
		<h3>Visitors for Prisoner {{prisoner}}:</h3>
		<table>
		<tr>
			<th>Visitor ID</th>
			<th>Visitor Name</th>
			<th>Visitor Type</th>
			{% if is_datamanager %}
				<th>Remove</th>
			{% endif %}
		</tr>
		{% for visitor in visitors %}
		<tr>
			<td>{{visitor.visitor_id}}</td>
			<td>{{visitor.visitor_name}}</td>
			<td>{{visitor.get_visitor_type_display}}</td>
			{% if is_datamanager %}
				<td><a href="{% url 'prison:remove_visitor_from_prisoner' prisoner.id visitor.visitor_id %}"</a>Remove</td>
			{% endif %}

		</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>The prisoner, {{prisoner}}, has no visitors currently.</p>
	{% endif %}
	<br>
	{% if is_datamanager %}
		<p><a href="{% url 'prison:insert_visitor_to_prisoner' prisoner.id %}">Insert new visitor.</a></p>
	{% endif %}

</body>
