{% extends "base.html" %}
{% block title %}
	Visitors for Prisoner {{prisoner}}
{% endblock title %}
{% block content %}
	<h3>Visitors for Prisoner {{prisoner}}:</h3>
		{% if visitors %}
		<table>
		<tr>
			<th>Sno.</th>
			<th>ID</th>
			<th>Name</th>
			<th>Type</th>
			{% if is_datamanager %}
				<th>Remove</th>
			{% endif %}
		</tr>
		{% for visitor in visitors %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{visitor.visitor_id}}</td>
			<td>{{visitor.visitor_name}}</td>
			<td>{{visitor.get_visitor_type_display}}</td>
			{% if is_datamanager %}
				<td><a href="{% url 'prison:remove_visitor_from_prisoner' prisoner.id visitor.visitor_id %}"</a>Remove</td>
			{% endif %}

		</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>The prisoner, {{prisoner}}, has no visitors currently.</p>
	{% endif %}
	<br>
	{% if is_datamanager %}
		<p><a href="{% url 'prison:insert_visitor_to_prisoner' prisoner.id %}">Insert new visitor.</a></p>
	{% endif %}
	<p><a href="{% url 'prison:show' %}">Back to list of prisoners.</a></p>

{% endblock content %}