<head>
	<title>Prisoner records</title>
	<header style="border-style: none; position:fixed; top: 10px; right: 10px;">
		Logged in as {{ user }}. <a href="/accounts/logout">Logout here.</a>
	</header>
</head>
<body>
	{% if prisoners %}
		<table>
		<tr>
			<th>Name</th>
			<th>Start Date</th>
			{% if is_datamanager %}
			<th>Edit</th>
			<th>Destroy</th>
			{% endif %}
			<th>Visitors</th>
		</tr>
		{% for prisoner in prisoners %}
		<tr>
			<td>{{prisoner.name}}</td>
			<td>{{prisoner.start_date}}</td>
			{% if is_datamanager %}
			<td>
				<a href="/prison/edit/{{ prisoner.id }}">
					Edit
				</a>
			</td>
			<td>
				<a href="/prison/destroy/{{ prisoner.id }}">
					Destroy
				</a>
			</td>
			{% endif %}
			<td>
				<a href="/prison/{{ prisoner.id }}/visitor">
					Visitors
				</a>
			</td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>No prisoners currently.</p>
	{% endif %}
</body>